.arrow {
  margin-right: 3px;
}

.btn {
  padding: 1px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 1px solid;
  width: 80px;
  justify-content: center;
}

.movieDetails {
  display: flex;
  padding-bottom: 3px;
  border-bottom: solid #b9b6b6;
}

.picture {
  width: 200px;
  height: auto;
}

.info {
  margin-left: 15px;
}

.additionalInfo {
  border-bottom: solid #b9b6b6;
}
